laravel8/node_modules
laravel8/public/hot
laravel8/public/storage
laravel8/storage/*.key
laravel8/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
